@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredoka+One&family=Montserrat&family=Poppins:wght@200&family=Righteous&family=Road+Rage&display=swap');

.col-25 {
    float: left;
    width: 35%;
    margin-top: 6px;
    padding-left: 35px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 23%;
    margin-top: 6px;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
    
}

.border{
    outline: 1px solid gray;
    padding: 5px;
    width: 600px;
}

.description-box{
    height: 100px;
    width: 300px;
}

.publish-button{
  background-color: #007BFF;
  color: white;
padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}

.center{
    align-items: center;
    display: flex;
    justify-content: center;
}

.listing-form{
   
    
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgba(255, 255, 255, 0.3);
     width: 800px;
    margin-left: 350px;
    font-family: 'Montserrat', sans-serif;
  
}

.form-content{
    padding-left: 100px;
}

.add-listing-heading{
    font-family: 'Montserrat', sans-serif;
    align-items: center;
        display: flex;
        justify-content: center;

}
.upApk{
    padding-left:30px;
}

.title-box{
    width: 300px;
}

