@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredoka+One&family=Poppins:wght@200&family=Righteous&family=Road+Rage&family=Roboto&display=swap');
/* Style inputs, select elements and textareas */

input[type=text],
input[type=password],
input[type=tel],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

form {
    font-family: sans-serif;
}

.loginText {
    margin: 0 60px;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px;
    display: inline-block;
}

/* Style the submit button */
.submit {
    background-color: #007BFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* float: right; */

}

.submit:hover {
    background-color: #384AEB;
}

/* Style the container */
.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 65%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.user-form-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #007BFF;
}

.hr-line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.line-text {
    background: #fff;
    padding: 0 10px;
    border-radius: 50%;
    border: #000;
}

.fb {

    color: white;
}

.facebook {
    background-color: #3B5998;
    border: none;
    /* Remove borders */
    color: white;
    /* Add a text color */
    padding: 14px 28px;
    /* Add some padding */
    cursor: pointer;
    /* Add a pointer cursor on mouse-over */
    border-radius: 5px;
}

.twitter {
    background-color: #55ACEE;
    color: white;
    border: none;
    /* Remove borders */
    color: white;
    /* Add a text color */
    padding: 14px 28px;
    /* Add some padding */
    cursor: pointer;
    border-radius: 5px;
    /* Add a pointer cursor on mouse-over */
}

.google {
    background-color: #dd4b39;
    color: white;
    border: none;
    /* Remove borders */
    color: white;
    /* Add a text color */
    padding: 14px 28px;
    /* Add some padding */
    cursor: pointer;
    /* Add a pointer cursor on mouse-over */
    border-radius: 5px;
}

.btn {
    border: none;
    /* Remove borders */
    color: white;
    /* Add a text color */
    padding: 14px 28px;
    /* Add some padding */
    cursor: pointer;
    /* Add a pointer cursor on mouse-over */
}

.success {
    background-color: #04AA6D;
}

/* Green */
.success:hover {
    background-color: #46a049;
}

.button-center {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.formArea {

    border: 1px solid #ccc;
}

/* Style the tab */
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    /* background-color: #f1f1f1; */
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border: 1px solid #ccc;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    padding-top: 17px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin: 0 20%;
    /* border-top: none; */
}

/* Create columns that floats next to each other */
.userSelectColumn {
    float: left;
    width: 40%;
    padding: 100px;
}

.loginColumn {
    float: left;
    width: 60%;
    padding: 10px;
    border-left: 1px solid #ccc;
}

.setBorder {
    border: 1px solid #ccc;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}