body {
    margin: 0;
}
/* Style the tab */
.tab {
    float: left;
    border-right: 1px solid #ccc;
    width: 350px;
    height: 80%;
    padding: 10px;
    text-align: center;

}

/* Style the buttons inside the tab */
.tab button,
.tab a {
    display: block;
    background-color: inherit;
    color: black;
    padding: 10px 16px;
    width: 80%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: #ccc 1px solid;
    text-decoration: none;
}

.tab a {
    margin-left: 10%;
}

/* Change background color of buttons on hover */
.tab button:hover,
.tab a:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    /* border: 1px solid #ccc; */
    width: 80%;
    border-left: 1px solid #ccc;
}

.tab h1 {
    font-size: 24px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.tab .description {
    color: #999999;
    display: block;
    font-size: 14px;
    margin-bottom: 22px;
}

.button-center {
    align-items: center;
    display: flex;
    justify-content: center;
}