/* * {
    box-sizing: border-box;
} */



.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    height: 250px;
    object-fit: cover;

}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

footer {
    text-align: center;
    padding: 3px;

    color: white;
    font-family: sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 30%, rgba(0, 212, 255, 1) 100%);
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -100%;
        /* right: -300px; */
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}